@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Source Sans Pro, sans-serif;
    font-weight: 300;
    color: #2c2b2b;
}

/* headings and logo  */

h1, h2 {
    font-family: Playfair Display SC, sans-serif;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #252525;
    
}

#logo {
    font-size: 300%;
    float: left;
    color: #DC2519;
    margin-left: 10px;
}

/* navigation bar  */

#nav-bar {
    letter-spacing: -1px;
    font-size: 120%;
    

}

#nav-bar li {
    list-style-type: none;
    float: right;
    margin-right: 3.5em;
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-bar, #logo {
    line-height: 75px;
}

#nav-bar a:hover {
    border-bottom: 1px solid #DC2519;
    color: #DC2519;
}

.active {
    border-bottom: 1px solid #2c2b2b;
}

/* hero image */

#hero-outer{
    height: 550px;
    width: 100%;
    overflow: hidden;
    position: relative;
}



#hero-image {
    height: 550px;
    width: 100%;
    background: url(../images/pexels-cottonbro-4253300.jpg) no-repeat center center ;
    background-size: cover;
}

/* text on hero image */

#text-on-img h3 {
    color: #fffff0;

}

#text-on-img {
    font-size: 110%;
    font-family: Playfair Display SC, sans-serif;
    text-transform: uppercase;
    letter-spacing: -1px;
    width: 400px;
    height: 30px;

    padding: 20px;

    background-color: rgba(203, 45, 36, 0.6);
    position: absolute;

    top: 300px;
    right: 400px;

}

/* about us */

#about-us {
    height: 550px;
}

#right-float {
    float: right;
    padding-top: 60px;
    width: 50%;
    background-color: green;
}

#right-float h2 {
    text-align: center;
}

#left-float {
    float: left;
    padding-top: 60px;
    width: 50%;
    background-color: blue;
}

#left-float h2 {
    text-align: center;
}