@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Source Sans Pro, sans-serif;
    font-weight: 300;
    color: #2c2b2b;
}

/* headings and logo  */

header {
    height: 100px;
}

h1, h2 {
    font-family: Playfair Display SC, sans-serif;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #252525;
    
}

#logo {
    font-size: 300%;
    float: left;
    color: #DC2519;
    margin-left: 10px;
}

/* navigation bar  */

#nav-bar {
    letter-spacing: -1px;
    font-size: 120%;
    

}

#nav-bar li {
    list-style-type: none;
    float: right;
    margin-right: 3.5em;
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-bar, #logo {
    line-height: 75px;
}

#nav-bar a:hover {
    border-bottom: 1px solid #DC2519;
    color: #DC2519;
}

.active {
    border-bottom: 1px solid #2c2b2b;
}

/* hero image */

#hero-outer{
    height: 550px;
    width: 100%;
    overflow: hidden;
    position: relative;
}



#hero-image {
    height: 550px;
    width: 100%;
    background: url(../images/pexels-cottonbro-4253300.jpg) no-repeat center center ;
    background-size: cover;
}

/* text on hero image */

#text-on-img h3 {
    color: #fffff0;

}

#text-on-img {
    font-size: 110%;
    font-family: Playfair Display SC, sans-serif;
    text-transform: uppercase;
    letter-spacing: -1px;
    width: 400px;
    height: 30px;

    padding: 20px;

    background-color: rgba(203, 45, 36, 0.6);
    position: absolute;

    top: 300px;
    right: 400px;

}

/* about us */

#about-us {
    height: 550px;
}

#right-float {
    float: right;
    padding-top: 60px;
    width: 50%;
    
}

.right-about {
    float: right;
    margin-right: 200px;
}

#right-float h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 300%;
    color: #DC2519;
}



#right-float p {
    text-align: center;
    font-size: 110%;
    
}

#right-float a {
    color: inherit;
}

#right-float a:hover {
    color: #DC2519;
    transition: 0.3s ease-out; 
}

#left-float {
    float: left;
    padding-top: 60px;
    width: 50%;
    
}

#left-float h2 {
    text-align: center;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin-left: 200px;
    margin-top: 55px;
}

#circle-cover-bg {
    background: url(../images/biryani.jpg) no-repeat center center;
    height: 100%;
    background-size: cover;
    border-radius: 50%;
}

/* footer */


.footer-container {
    background-color: #2c2b2b;
    
   
}

.footer {
    width: 100%;
    height: 200px;
    background-color: #2c2b2b;
    color: #fffff0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;

}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;

}

.footer-heading h2 {
    margin-bottom: 2rem;
    color: #DC2519;
    margin-top: 10px;
    

}

.footer-heading a {
    color: #fffff0;
    text-decoration:  none;
    margin-bottom: 0.5rem;
    
    
}

.footer-heading a:hover {
    color: #DC2519;
    transition: 0.3s ease-out;
}

.footer-heading p {
    color: #fffff0;
    margin-bottom: 0.5rem;
}

/* get in touch form page */


#contact-us-form-page {
    height: 100px;
    background-color: #DC2519;
}

#contact-us-form-page h2 {
    text-align: center;
    margin-top: 10px;
    color: #fffff0;
    line-height: 85px;
    
    
}

#form-section {
    height: 900px;
    background: url(../images/restuarant-inside.jpg) center;
    background-size: cover;
}

.signup-form {
    margin: 150px 10 0 0;
    color: #fffff0;
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 400px;
    padding: 30px;
    position: absolute;
    left: 30%;
    top: 80%;
    border-radius: 25px;
}

.signup-form h2 {
    color: #fffff0;
    margin-bottom: 20px;
    text-align: center;
}

.text-input {
    background: transparent;
    color: #fffff0;
    width: 100%;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #fffff0;
    
}

.text-input:hover {
    border-color: #DC2519;
    transition: 0.3s ease-out;

}

.text-area-input {
    background: transparent;
    color: #fffff0;
    width: 100%;
    height: 100px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #fffff0;
    resize: none;
}

.text-area-input:hover {
    border-color: #DC2519;
    transition: 0.3s ease-out;

}

.submit-button {
    color: #fffff0;
    background-color: #DC2519;
    padding: 10px 25px 10px 25px;
    margin-top: 5px;
}

.submit-button:hover {
    background-color: #9c2c24;
}

/* menu page */

#menu-header {
    height: 100px;
    background-color: #DC2519;
}

#menu-header h2 {
    text-align: center;
    margin-top: 10px;
    color: #fffff0;
    line-height: 85px;
}





.food-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 20px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}

.item img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    transition: 0.2 ease;
}

.item img:hover {
    transform: scale(1.04);
}

.item  h4 {
    padding: 5px;
    text-align: center;
    font-size: 120%;
    
}

.item  p {
    padding: 5px;
    text-align: center;
    font-weight: 140%;
    
}

/*  media queries */
/* home page for screen sizes 950px and down */

@media screen and (max-width: 950px) {

    #nav-bar {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 25px;
        line-height: 25px;
    }

    #text-on-img {
        left: 0;
    }

    #about-us-section {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .right-about, .left-about {
        width: inherit;
    }

    .right-about h2 {
        width: 100%;
        text-align: center;
    }
}

/* about us section media queries for 1150px screen sizes  */

@media screen and (max-width: 1150px) {
    
    #about-us-section {
        width: 65%;
        height: 1200px;
        margin: 0 auto;

    }

    #right-float, #left-float {
        width: 100%;
        float: left;
        padding: 0;
    }


    #right-about {
        width: 100%;
        float: left;
        clear: both;

    }

    
    #left-about {
        width: 100%;
        float: left;
        clear: both;
    }
}

/* menu page media query for max width 1000px and 820px */

@media screen and (max-width: 1000px) {
    .items {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (max-width: 820px) {
    .items {
        grid-template-columns: repeat(1, 1fr);
    }
    
}











