@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Source Sans Pro, sans-serif;
    font-weight: 300;
    color: #2c2b2b;
}

/* headings and logo  */

h1, h2 {
    font-family: Playfair Display SC, sans-serif;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #252525;
    
}

#logo {
    font-size: 300%;
    float: left;
    color: #DC2519;
}

/* navigation bar  */

#nav-bar {
    letter-spacing: -1px;
    font-size: 120%;
    

}

#nav-bar li {
    list-style-type: none;
    float: right;
    margin-right: 3.5em;
}

#nav-bar a {
    text-decoration: none;
    color: inherit;
}

#nav-bar, #logo {
    line-height: 75px;
}

#nav-bar a:hover {
    border-bottom: 1px solid #2c2b2b;
}

.active {
    border-bottom: 1px solid #2c2b2b;
}

/* hero image */

#hero-outer{
    height: 1000px;
    width: 100%;
    overflow: hidden;
}



#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/pexels-cottonbro-4253300.jpg) no-repeat center center ;
    background-size: cover;
}
    